<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <title>ToDo List</title>
</head>

<body>
  <div class="title">
    <h1>Hi!</h1>
    <h2> <%= actualDate %>. </h2>
  </div>

  <div class="list">
    <form action="/" method="post">
      <ul>
        <% for (let i = 0; i<newListItems.length; i++) { %>
        <li> <%= newListItems[i] %> </li>
        <%  } %>
      </ul>
      <input type="text" name="newItem" placeholder="New item">
      <button type="submit" name="button">Add</button>
    </form>
  </div>


</body>

</html>
